h1, h2, h3, h4, h5, h6{
    color: rgb(94, 246, 94);
    background-color: beige;
    width: 20%;
    text-align: center;
    padding: 20px;
    display: inline-block;
    border: 2px solid rgb(94, 246, 94);
    border-radius: 0 20px 0 20px;
    margin: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}